$('#result').append("<div class='jumbotron' style='text-align:center;'><h3>Here's the data we crunched for you:</h3><p>You will arrive at <%= @destination.to_s %> in <%= "%.2f" % @calculated_time %> hours</p></div>");
$('#result').append("<div class='jumbotron' style='text-align:center;'><h3>Approximate Distance:</h3><p><%= @distance %></p></div>");
$('#result').append("<div class='jumbotron' style='text-align:center;'><h3>Local tide info:</h3><p><%= @tide_info %></p></div>").html_safe;
