<h2>Trip Details</h2>
<%= form_tag('/form_data', method: :post, remote:true) do %>
  <div class="form-group inline">
    <label>Start Time</label>
    <div class='input-group date' id='datetimepicker1'>
        <input name="start_time" type='datetime' class="form-control" />
        <span class="input-group-addon">
            <span><i class="fa fa-calendar" aria-hidden="true"></i></span>
        </span>
    </div>
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker();
        });
    </script><br />
    <label>Start Location</label><br />
    <%= select_tag "start_location", options_for_select(@locations), class:"form-control" %><br />


    <label>End Location</label>
    <%= select_tag "end_location", options_for_select(@locations ), class:"form-control end-location"%><br />

    <!-- <input name="end_location" type="text" class="form-control"  placeholder="Bermuda..."><br /> -->

    <label>Paddler Strength</label><br />
    <%= select_tag "paddling_strength", options_for_select([ "Beginner", "Intermediate","Pro","Merman" ]), class:"form-control" %><br /><br />

    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
<% end %>

<div id="result"></div>
