/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require bootstrap-datetimepicker
 *= require_tree .
 *= require_self

 */

/*
rgb(0,81,124) dark blue
rgb(139,195,74) light green
rgb(245,245,245) white smoke
rgb(85,139,47) dark green
*/

/*Navbar Styling*/

.navbar {
  background-color: rgba(0,81,124,0.9)
}

.navbar-default .navbar-brand {
  color: rgb(245,245,245);
  font-family: 'Roboto Slab', serif;
}

.navbar-default .navbar-nav li a {
  color: rgb(245,245,245);
  font-family: 'Poiret One', cursive;
}

.navbar-default .navbar-brand:hover {
  color: rgb(139,195,74);
}

.navbar-default .navbar-nav li a:hover {
  color: rgb(139,195,74);
}

.navbar-default a:visited {
  text-decoration: none;
  color: rgb(245,245,245);
}

/*End Navbar Styling*/

/*Body Styling*/

body {
  font-family: 'Roboto Slab', serif;
  color: rgb(0,81,124);
}

.btn-primary {
  background-color: rgb(139,195,74);
  color: rgb(245,245,245);
  border: none;
}

.btn-primary:hover {
  background-color: rgb(85,139,47);
}


/*End Body Styling*/

/*Sidebar Styling*/

a {
  color: rgb(85,139,47);
}

a:hover {
  color: rgb(0,81,124);
}

/*End Sidebar Styling*/

/*Footer Styling*/

footer {
  height: 25%;
  padding: 2% 0;
  margin-top: 3%;
  background-color: rgba(0,81,124,0.9);
  font-size: 1em;
  font-family: 'Roboto Slab', serif;
}

footer p {
  color: rgb(245,245,245);
  font-family: 'Roboto Slab', serif;
}

footer a, a:visited {
  color: rgb(139,195,74);
}

footer a:hover {
  color: rgb(245,245,245);
}

ul {
  list-style: none;
}

a:hover {
  text-decoration: none;
}

#creators {
  padding: 0;
  color: rgb(139,195,74);
}

/*End Footer Styling*/
