/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require bootstrap-datetimepicker
 *= require_tree .
 *= require_self

 */

/*rgb(0,81,124) dark blue
rgb(139,195,74) light green
rgb(245,245,245) white smoke*/

/*Navbar Styling*/

.navbar {
  background-color: rgba(0,81,124,0.9)
}

.navbar-default .navbar-brand {
  color: rgb(245,245,245);
  font-family: 'Roboto Slab', serif;
}

.navbar-default .navbar-nav li a {
  color: rgb(245,245,245);
  font-family: 'Poiret One', cursive;
}

.navbar-default .navbar-brand:hover {
  color: rgb(139,195,74);
}

.navbar-default .navbar-nav li a:hover {
  color: rgb(139,195,74);
}

/*End Navbar Styling*/

/*Body Styling*/

body h2 {
  font-family: 'Roboto Slab', serif;
  color: rgb(0,81,124);
}
